button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    color: inherit;
    font: inherit;
    text-align: center;
    line-height: normal;

    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    -webkit-appearance: none;
    -moz-appearance: none;
}

button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(0.95);
}
