{% extends "layout_without_header.html" %}

{% block header %}
    <header class="header container">
        {% if not page_type == 'homepage' %}
            <a class="header__homepage-link" href="/">
                <h1 class="header__title">Mariia Savinkova</h1>
            </a>
        {% endif %}
        <nav class="main-menu">
            <a class="main-menu__item main-menu__item_works translucency" href="/works/">Works</a>
            <a class="main-menu__item main-menu__item_blog translucency" href="/blog/">Blog</a>
            <a class="main-menu__item main-menu__item_about translucency" href="/about/">About</a>
        </nav>
    </header>
{% endblock header %}
